@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0 10px;
  background-color: #e4f9e1;
}
.container-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid purple; */
}

/* Styling for heading Section */
.header-container {
  font-weight: 600;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}
.top-header {
  margin-bottom: 30px;
  text-align: center;

  /* border: 1px solid green; */
}

/* Styling for body section  */
.data-container {
  /* border: 1px solid black; */
  width: 100%;
  padding: 10px 0;
}

.data-container .row {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid green; */
}
.row .row-data-wrapper {
  display: flex;
  min-width: 25%;
  /* border: 1px solid red; */

  margin-bottom: 10px;
}
.row .row-data-wrapper .label {
  margin-right: 5px;
}
.row .row-data-wrapper .data {
  font-weight: 400;
}

/* footer styles starts here  */

.footer-container {
  padding: 10px 0;
  margin-bottom: 20px;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  width: 100%;
}
.fingerprint-wrapper {
  text-align: center;
}
.fingerprint {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fingerprint .left,
.fingerprint .right {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin-right: 5px;
}
.signOfApplicant {
  position: relative;
}
.signOfApplicant::before {
  content: "";
  position: absolute;
  top: -15px;
  height: 3px;
  width: 175px;
  background-color: black;
}

.signOfVerifier {
  position: relative;
}
.signOfVerifier::before {
  content: "";
  position: absolute;
  top: -15px;
  height: 3px;
  width: 155px;
  background-color: black;
}

.print-section {
  text-align: center;
  margin-bottom: 30px;
}
.print-section input {
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 40px;
  margin: 0 0 10px;
  background-color: #cfedca;
}
.print-section input:hover {
  background-color: #a7c5a1;
  cursor: pointer;
}
